.DogList-table {
    margin: 0 auto;
}

.DogList-table td {
    padding: 1em;
}

.DogList-container {
    margin: 0 auto;
    width: 250px;
    border: 2px solid grey;
    text-align: center;
    border-radius: 5px;
}

.DogList-img {
    width: 250px;
    display: block;
    margin-bottom: 1em;
}

.DogList-link {
    text-decoration: none;
}